<div class="modal-header">
    <h4 class="modal-title">Edit Gateway</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="xBoolean" #gatewayForm="ngForm">

      <div class="form-group">
        <label for="gatewayName">Gateway Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="gateway.name"
          #gatewayNameField="ngModel"
          name="gatewayName"
          minlength="2"
          [ngClass]="{ 'is-invalid': gatewayNameField.errors && gatewayNameField.touched }"
          required
        />
        <div [hidden]="!gatewayNameField.errors?.required" class="invalid-feedback">Gateway name required</div>
        <div [hidden]="!gatewayNameField.errors?.minlength" class="invalid-feedback">Must be more than 2 charecters.</div>
      </div>
      <div class="form-group">
        <label for="gatewayIpv4">Gateway IPV4</label>
        <input type="text" class="form-control" [(ngModel)]="gateway.ipv4" name="gatewayCode" required />
      </div>
      <div class="form-group">
        <button
          *ngIf="!isEdit"
          type="submit"
          class="btn btn-success"
          [disabled]="!gatewayForm.form.valid"
          (click)="addGateway()"
        >
          Add
        </button>
  
        <button
          *ngIf="isEdit"
          type="submit"
          class="btn btn-success"
          [disabled]="!gatewayForm.form.valid"
          (click)="updateGateway(gateway)"
        >
          Update
        </button>
      </div>
  
  
    </form>
    <!-- <p><button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button></p> -->
  </div>
  <div class="modal-footer"><button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button></div>
  